<form action="/result">
  <div class="container">
    <div class="form-group">
      <label for="sentence">Input sentence</label>
      <input type="text" class="form-control" name='sentence'>
      <label for="word1">Find word</label>
      <input type="text" class="form-control" name='word1'>
      <label for="word2">Replace</label>
      <input type="text" class="form-control" name='word2'>
      <button type="submit" name="button" class='btn btn-success'>Replace</button>
    </div>
  </div>
</form>
